<section id="corporate_partners">
    <h2>Our Corporate Partners</h2>
      <div class="corporate_partner_logos">
          <img src="../img/logo_1.svg"/>
      </div>
      <div class="corporate_partner_logos">
          <img src="../img/logo_2.svg"/>
      </div>
      <div class="corporate_partner_logos">
          <img src="../img/logo_3.svg"/>
      </div>
      <div class="corporate_partner_logos">
          <img src="../img/logo_4.svg"/>
      </div>
      <div class="corporate_partner_logos">
        <img src="../img/logo_5.svg"/>
      </div>
      <div class="corporate_partner_logos">
          <img src="../img/logo_6.svg"/>
      </div>
      <use xlink:href="#XMLID_152_"></use>
</section>
