<section class="corporate_partners">
  <h2>Our Corporate Partners</h2>

  <div class="corporate_partner_logos">
    <!--Logo 1 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_1"></use></svg>
    </div>
    <!--Logo 2 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_2"></use></svg>
    </div>
    <!--Logo 2 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_3"></use></svg>
    </div>
    <!--Logo 3 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_4"></use></svg>
    </div>
    <!--Logo 4 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_5"></use></svg>
    </div>
    <!--Logo 5 SVG -->
    <div class="corporate_partner_logo">
      <svg><use xlink:href="#logo_6"></use></svg>
    </div>
  </div>
</section>