
<footer> <!-- FOOTER IS DIVIDED INTO 3 DIVS TO PROVIDE COLOR VARATION -->
  <div id="top_third"> <!--Lightest purple -->
    <p>Get in touch... <br />info@curovstudio.us</p>
  </div>
<div id="middle_third"> <!--Lighter Purple -->
  <!--user icon in two different styles -->
  <div class="fa-icons"> <!-- used in _footer.scss -->
    <a href="#"><i class="fa fa-twitter-square"></i></a> <!--twitter icon -->
    <a href="#"><i class="fa fa-facebook-official"></i></i></a> <!--facebook icon -->
    <a href="#"><i class="fa fa-envelope"></i></a> <!-- MailTo: icon -->
  </div>
</div>
<div id="lower_third"> <!--Client Purple -->
  <p>&copy;Copyright 2018</p>
</div>

</footer>
