
<footer> <!-- FOOTER IS sectionIDED INTO 3 sectionS TO PROVIDE COLOR VARATION -->
  <section id="top_third"> <!--Lightest purple -->
    <p>Get in touch... <br />info@curovstudio.us</p>
  </section>
<section id="middle_third"> <!--Lighter Purple -->
  <!--user icon in two different styles -->
  <section class="fa-icons"> <!-- used in _footer.scss -->
    <a href="#"><i class="fa fa-twitter-square"></i></a> <!--twitter icon -->
    <a href="#"><i class="fa fa-facebook-official"></i></i></a> <!--facebook icon -->
    <a href="#"><i class="fa fa-envelope"></i></a> <!-- MailTo: icon -->
  </section>
</section>
<section id="lower_third"> <!--Client Purple -->
  <p>&copy;Copyright 2018</p>
</section>

</footer>
