<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include svg.html %}

        {% include header.html %}

        <main>
            {{ content }}
        </main>
        {% include corporate_partners.html %}
        {% include footer.html %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="scripts/myscripts.js" ></script>
        {% include analytics.html %}
    </body>

</html>
