main {
    background: $clr-gray-95;
    color: $clr-gray-15;
    padding-bottom: 3.0em;
}

body {
  position: relative; // Hold so that footer can use aboslute positioning
}


$gradient-transparency: 0.27;
.content {
    font-family: $sanserif;

    .main_content {
        font-family: $sanserif;
        width: 100%;

        .top_img {
            //background-image: url("img/top_image_small.jpg");
            //background-image: url('img/nastuh-abootalebi-284882.jpg');
            background: linear-gradient(
                120deg,
                transparentize($clr-ultra-violet, $gradient-transparency) 0%,
                transparentize($clr-ultra-violet, $gradient-transparency) 33%,
                transparentize($client-green, $gradient-transparency) 33%,
                transparentize($client-green, $gradient-transparency) 50%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 100%),
                url('img/nastuh-abootalebi-284882.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 22em;
            // height: 100%;
            top: 0;
        }

        .nav_icons {
            width: inherit;
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .icon {
                text-decoration: none;

                svg {
                    height: 118px;
                }
            }

            .icon_text {
                color: $clr-ultra-violet;
                margin: 0;
            }
        }

        .about_us_img {
            //background-image: url("img/rawpixel-com-196464.jpg");
            background: linear-gradient(
                to bottom,
                transparentize(darken($clr-ultra-violet, 20%), $gradient-transparency) 0%,
                transparentize(darken($clr-ultra-violet, 20%), $gradient-transparency) 100%
                ), url('img/rawpixel-com-196464.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 25em;
        }

        .about {

            .text_block {
                position: absolute;
                top: 41em;
                left: 8%;
                padding: 20px;
                box-shadow: -1px 2px 2px rgba(95,75,139,.7);
                @media (max-width: 768px) {
                    top: 15%;
                }
            }
        }

        .our_mission_img {
            /*background-image: linear-gradient(
                transparentize($clr-ultra-violet, 0.75),
                transparentize(darken($clr-ultra-violet, 35%), 0.75)
                ), url("img/our_mission_img.png");*/
            //background-image: url("img/mission_img.jpg");
            background: linear-gradient(
                120deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 66%,
                transparentize($client-green, $gradient-transparency) 66%,
                transparentize($client-green, $gradient-transparency) 100%
                ), url('img/capitol-standard-101748.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 25em;
        }

        .mission {
            margin-top: 150px;

            .text_block {
                position: absolute;
                top: 70em;
                left: 35%;
                padding: 20px;
                box-shadow: -1px 2px 2px rgba(95,75,139,.7);
                @media (max-width: 768px) {
                    top: 15%;
                }
            }
        }

        .services_img {
            //background-image: url("img/services_img.jpg");
            background: linear-gradient(
                transparentize($client-green, $gradient-transparency) 0%,
                transparentize($client-green, $gradient-transparency) 100%
                ), url('img/artem-sapegin-176819.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 25em;
        }

        .services {
            margin-top: 150px;

            .text_block {
                position: absolute;
                // top:230%;
                top: 103em;
                left: 15%;
                padding: 20px;
                box-shadow: -1px 2px 2px rgba(95,75,139,.7);
                width: 70%;
                @media (max-width: 768px) {
                    top: 15%;
                }
            }

            .sub_services {
                // max-width: $desktop-width;
                margin-top: -10px;
                line-height: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .serv_small_txt {
                    background-color: $clr-ultra-violet;
                    padding: 15px;
                    height: 220px;
                    width: 220px;
                    margin: 5px;
                }

                .serv_title {
                    color: $clr-pure-white;
                    font-size: 18px;
                }

                .serv_para {
                    font-size: 12px;
                    color: $clr-pure-white;
                }
            }
        }

        .text_block {
            background-color: $clr-white;
            width: 50%;
            @media (max-width: 768px) {
                width: 85%;
            }

            .title {
                color: $clr-ultra-violet;
                font-size: 32px;
            }

            .subtitle {
                margin-top: -20px;
                font-size: 16px;
                color: $clr-ultra-violet;
            }

            .para {
                margin-top: -10px;
                font-size: 12px;
                color: $clr-gray-40;
                line-height: 20px;
            }
        }
    }
    // example
    @include media($desktop) {
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clr-gray-40;
        font-family: $sanserif;
    }
}
