main {
    background: $clr-gray-95;
    color: $clr-gray-15;
    padding-bottom: 3.0em;
}

body {
  position: relative; // Hold so that footer can use aboslute positioning
}


$gradient-transparency: 0.27;
$section-padding: 2.0em;

.front-section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: $section-padding 0;
    padding: 3.0em 0.5em;

    @include media($desktop) {
        margin: $section-padding*2 0;
        padding: 3.0em;
    }

    .text_block {
        padding: $section-padding / 2;
        box-shadow: -1px 2px 2px rgba(95,75,139,.7);
        width: 100%;

        @include media($desktop) {
            padding: $section-padding;
            width: 67%;
        }
    }
}

.content {
    font-family: $sanserif;

    .main_content {
        font-family: $sanserif;
        width: 100%;

        .top_img {
            background-color: $clr-ultra-violet;
            background: linear-gradient(
                120deg,
                transparentize($clr-ultra-violet, $gradient-transparency) 0%,
                transparentize($clr-ultra-violet, $gradient-transparency) 33%,
                transparentize($client-green, $gradient-transparency) 33%,
                transparentize($client-green, $gradient-transparency) 50%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 100%),
                url('img/nastuh-abootalebi-284882.jpg') center center no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 350px;
        }

        .nav_icons {
            display: block;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;

            @include media($tablet) {
                display: block;
            }
            @include media($desktop) {
                display: flex;
            }

            a {
                color: $clr-ultra-violet;
                display: block;
                font-family: $fontstack-headings;
                font-size: 16px;
                font-weight: bold;
                margin: 1.0em 0.5em;
                text-align: center;
                text-decoration: none;

                &:hover {
                    color: lighten($clr-ultra-violet, 10%);
                }

                @include media($tablet) {
                    font-size: 20px;
                    margin: 1.5em 1.0em;
                }

                @include media($desktop) {
                    font-size: 24px;
                    margin: 1.5em 2.5em;
                }
            }
        }

        .access {
            @extend .front-section;
            margin-top: 0;

            background-image: linear-gradient(
                to bottom,
                transparentize(darken($clr-ultra-violet, 20%), $gradient-transparency) 0%,
                transparentize(darken($clr-ultra-violet, 20%), $gradient-transparency) 100%
                ), url('img/rawpixel-com-196464.jpg');
        }

        .studio {
            @extend .front-section;
            display: flex;
            flex-direction: row-reverse;

            background-image: linear-gradient(
                120deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 66%,
                transparentize($client-green, $gradient-transparency) 66%,
                transparentize($client-green, $gradient-transparency) 100%
                ), url('img/capitol-standard-101748.jpg');
        }

        .more {
            @extend .front-section;
            margin: $section-padding 0;

            background-image: linear-gradient(
                transparentize($client-green, $gradient-transparency) 0%,
                transparentize($client-green, $gradient-transparency) 100%
                ), url('img/lukas-blazek-367945.jpg');

            .text_block {
                text-align: center;
                width: 100%;
            }

            .more_links {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                a {
                    background-color: $clr-ultra-violet;
                    flex: 1;
                    margin: 1.0em;
                    max-width: 512px;
                    min-width: 300px;
                    padding: 2.0em;
                    text-decoration: none;
                    width: 512px;

                    &:hover {
                        background-color: lighten($clr-ultra-violet, 10%);
                    }

                    h5 {
                        color: $clr-pure-white;
                        font-size: 22px;
                    }

                    p {
                        font-size: 14px;
                        color: $clr-pure-white;
                    }
                }
            }
        }

        .text_block {
            background-color: $clr-white;
            @media (max-width: 768px) {
            }

            h3 {
                color: $clr-ultra-violet;
                font-size: 32px;
            }

            h5 {
                margin-top: -20px;
                font-size: 20px;
                color: $clr-ultra-violet;
            }

            p {
                font-size: 16px;
                color: $clr-gray-40;
                line-height: 20px;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clr-gray-40;
        font-family: $sanserif;
    }
}
