.corporate_partners {
  h2 {
    margin-top: 0;
    text-align: center; //Aligns "Our Corporate Partners"
    color: $clr-ultra-violet;
  }

  .corporate_partner_logos {
    //Handles arranging of the SVG logos
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .corporate_partner_logo {
    svg {
      // Handles Corporate Partner SVG Logos
      margin: 0.5em;
      width: 6em;
      height: 6em;
      fill: $clr-ultra-violet;
    }
  }
}
