
footer {
    background-color: $clr-ultra-violet;
    color: $clr-white;
    display: block;
    padding: 3.0em;
    text-align: center;
    width: 100%;

    a {
      text-decoration: none;
      color: white;
    }

    .copytext {
        font-size: 75%;
    }

    .fa {
      font-size: 32px;
      color: white;
      margin: 0 0.25em;

      @include media($desktop) {
          font-size: 64px;
      }
    }
}
