
footer {
    background-color: $client-purple;
    color: $clr-white;
    display: block;
    padding: 3.0em;
    text-align: center;
    width: 100%;

    a {
      text-decoration: none;
      color: white;
    }

    .fa {
      font-size: 48px;
      color: white;
      margin: 0 0.25em;
    }
}
