// Header component on the front page

header {
    align-items: center;
    box-shadow: -1px 2px 2px rgba(95,75,139,.7);
    background-color: #fff;
    display: flex;
    font-family: $sanserif;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;


    .logo {
        color: $clr-ultra-violet;
        flex: 1;
        padding: 0.5em;

        img {
            height: 64px;
        }
    }

    .in_touch {
        font-size: 24px;

        a {
            color: $clr-ultra-violet;
            padding: 1.0em;
            text-decoration: none;
        }

        a:hover {
            color: lighten($clr-ultra-violet, 15%);
        }
    }

}
