// Header component on the front page
header {
  position: fixed;
  top: 0;
    background-color: $clr-white;
    width: 100%;
    z-index: 1;
    box-shadow: -1px 2px 2px rgba(95,75,139,.7);

    .wrapper {
      display: inline-flex;
      width: 100%;
      margin: 0;
      font-family: $sanserif;
      background-color: $clr-white;
    }

    .logo {
      @include span-columns(10)
      color: $clr-ultra-violet;
      float: left;
      margin: 0 0 auto 40px;
      font-size: 22px;
    }

    .in_touch {

      display: block;
      padding-top: 24px;
      font-size: 16px;

      a:link {
        color: $clr-gray-15;
        text-decoration: none;

      }
      a:hover {
        color: $clr-gray-40;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }
}

    @include media($desktop) {
        display: flex;
        flex-direction: row;
        // padding: 2.0em;
        text-align: left;
    }
}
